/**************common element start*************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  .margin{
    margin-bottom: 100px!important;
  }
  a{
      text-decoration: none!important;
  }
  .view-more{
    padding: 10px 30px;
    background-color: #000;
    color: #fff;
    border: none;
    transform: translateY(60px);
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 80px;
    margin-top: -10px;
  }
  .view-more:hover{

    background-color: #e9731f;
    color: #fff;


  }
  a:hover{
      text-decoration: none!important;
  }
  .padding-0{
    padding: right 0 !important;
    padding-left:0!important;
}
.padding-1{
    padding: right 0 !important;
}
.heading1 h1{
  font-size: 2rem!important;
  font-weight: bold!important;
}
.heading1{
  padding: 50px 0;
}
  /**************common element end*************/
  /**************header element start*************/
.header .logo{
height: 50px;
width: 100px;
}
.container-fluid {
    margin: 0 15px 0 35px!important;
}
/* .custom-nav{

} */
.header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
  }
  .header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  .header .container {
    position: relative;
    z-index: 2;
  }
  .heading{
      margin-top: 100px;
      font-size: 4rem;
      color: #fff;
  }
  .mddle{
      color: #e9731f!important;
  }
  .last{
      font-weight: 700!important;
      color: #fff;
  }
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  @media (pointer: coarse) and (hover: none) {
    .header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    .header video {
      display: none;
    }
  }
  .cente-bottom{
    background-color: rgba(255, 255, 255, 0.5);
      padding: 15px 8px 15px 8px;
      
  }
  #cente-bottom{
      top: 42%;
      bottom: 50%;
      translate: (-50% -42%);
  }
.cente-bottom .src{
width: 100%;
height: 40px;
border: none;
border-radius: 0%;
padding: 0 14px;
font-size: .9rem;
color: #808080;
 }

  .cente-bottom .typ{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 0%;
    color: #808080;
    padding: 0 14px;
    font-size: .9rem;
 }
 .searchprop{
     background:#e9731f!important ;
     width: 100%;
     height: 50px;
     border-radius: 0%;
     border: none;
     color: #fff;
 }
 .searchprop:hover{
    background:hsl(0, 0%, 3%)!important ;
 }
 .tab {
  overflow: hidden;
 
}
.tab button {
  background-color: #e9731f;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 24px;
  transition: 0.3s;
  color: #fff;
  font-size: .9rem;
}

.active {
  background-color: hsl(0, 0%, 3%)!important ;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 0%;
}

/**************nav bar style satrt *************/

.nav-link{
  position: relative;
  color: #fff;
  display: block;
  transition-duration: .9s;
  font-weight: 600;
  font-size: .9rem;
}
.nav-link:hover{
  
  color: #fc842e;
}
.dropdown:hover .nav-link::after{
  content: '';
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -3px;
  background-color:#fc842e;
  
}
/**************hoverdropdown  start *************/
.navbar{
  padding-bottom: 0%!important;
  padding-top: 0%!important;
}
.nav-item{
  position: relative;
  display: flex;
  float: left;
  padding: 10px 0!important;
}
.dropdown-menu{
  display: none;
  position: absolute;
  background-color: rgb(54, 53, 53)!important;
  width: 250px!important;
  border-radius: 0%!important;
  border: none!important;
  min-width: 158px;
  box-sizing: border-box;
  z-index: 1;
  margin-top: -1px!important;
  text-align: center;
}
.dropdown:hover .dropdown-menu{
  display:block;
  animation-duration: 0.6s;
  -webkit-animation-duration: 0.6s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}
.dropdown-menu a{
 display: block;
 color: #fff;
 text-align: center;
 padding: 12px!important;
}
.dropdown-menu a:hover{
background-color: #050707;
color:#fff;

position: relative;
/* transform: translateX(20px); */
}



  /* .animate {
    animation-duration: 0.6s;
    -webkit-animation-duration: 0.6s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  } */

 
@keyframes slideIn {
  0% {
    transform: translateY(5rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(5rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    transform: translateY(5rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(5rem);
    opacity: 0;
  }
}

/* .slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
} */
/**************hoverdropdown end *************/
/* .nav-link:hover::after{
  transform: scaleX(1);
} */
/**************nav bar style end *************/

/**************nav bar style change after scrolling start*************/
.scrolling-active{
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0 3px 1rem rgba(0,0,0,.1);
  /* padding: 8px 30px; */
  height: auto;
  transition: 0.9s;
  
}
/**************nav bar style change after scrolling end*************/
/**************header element end*************/
/**************section1 element start*************/
.section1{
  height: auto;
  width:100%;
  overflow: hidden;
}
.box{
  height: auto;
  width: 100%;
  margin-bottom: 18px;
  box-sizing: border-box;
  box-shadow: 0 3px 1rem rgba(0,0,0,.2);
  
}

/* .parent:hover{
  transform: translateY(-12px);
  transition: transform .2s;
} */
.carousel img{
  height: 210px!important;
  width: 100%;
}
.carousel-inner .cursol-img-btn{
display:flex;
border: none;
border-radius: 2px;
width:85%;
height:auto;
position: absolute;
padding: 8px 0 0 8px!important;
top: 79%;
left: 50%;
text-align: center;
padding: 10px 0;
transform: translate(-50%, -0%);
background-color:rgba(0,0,0,.5);
font-size: .8rem;
color: #fff;

}
.carousel-inner .cursol-img-btn i{
padding: 3px 7px 3px 0;
}
 .cursol-img-span1{
  padding: 0 3px 0 0!important;
  font-weight: 500;
  color: #fff;
}
.cursol-img-span2{
 color: #fff;
  font-weight: 500;
}
.cursol-img-span1:hover{
 color:#fc842e ;
}
.cursol-img-span2:hover{
  color:#fc842e ;
 }
.body-desc{
  padding: 10px 20px;
  box-sizing: border-box;
}
.bodypart{
  margin-bottom: 10px;
}
.body-desc .bodypart .dec-link{
color: rgb(10, 10, 10);
font-size: 18px;
}

  .bodypart h2{
    font-size: 18px;
    color:#fc842e ;
    padding-top: 8px;
    padding-bottom: 4px;

  }
  .m-icon span i{
    
    padding-right: 2px;
    color: rgb(121, 116, 116);
    
    
  }
  span{
    padding:0 12px 4px 12px;
    color: rgb(121, 116, 116);
    
  }
  .span1{
    padding:0 12px 6px 0;
  }
  .m-icon span .start-icon
  {
    padding-right: 2px;
    font-weight: 100;
  }
.bodypart::after
{
  content: '';
  width: 82%;
  position: absolute;
  height: 1px;
  background-color:rgb(224, 216, 216);
}
.footer{
  margin: 10px;
}

.cardfooter img{
 padding-right: 12px;
 padding-top: 3px;
 padding-bottom: 4px;
}
.cardfooter a{
  color: rgb(20, 19, 19);
  font-size: .8rem;
  font-weight: 600;
  padding-top: 10px;
}

.share{
  border: 1px solid rgb(224, 216, 216);
  height: 30px;
  width: 30px;
  background-color: #fff;
  color: #808080;
  margin-left: 25%;
  margin-right: 6px;
  margin-top: 5px;
}
.fav{
  border: 1px solid rgb(224, 216, 216);
  height: 30px;
  width: 30px;
  background-color: #fff;
  color: #808080;
  margin-left: 0%;
  margin-top: 5px;
}
.cardfooter a:hover{
  color:#fc842e 
}
.body-desc .bodypart .dec-link:hover{
  color:#fc842e ;
  }
.parent:hover {
  transform: translateY(-12px);
  
}
.carousel-item{
overflow: hidden;
}
.carousel-item img{
  transition: transform .9s ease;
}
.parent:hover .carousel-item img {
  -ms-transform: scale(1.2); /* IE 9 */
   -webkit-transform: scale(1.2); 
  transform: scale(1.2);
  /* transition-duration: .9s; */
}
.parent{
  transition: transform .9s ease;
}
.heading1 .feacture{
  font-weight: 500!important;
  font-size: 28px!important;
  letter-spacing: 2px!important;
}
/**************section1 element end*************/
/**************section2 element end*************/
.section2{
  height: auto;
  width:100%;
  overflow: hidden;
}
.card-div-body h2{
font-size: 20px;
padding: 18px 0 0 0;
}
.dev-card .card-div-body p{
  font-size: 14px;
  color: rgb(121, 116, 116);
  margin-bottom:  20px!important;
}
.feacture{
  margin-top: 30px;
  margin-bottom: -18px;
}
.dev-card{
  height: auto;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 18px;
  box-shadow: 0 3px 1rem rgba(0,0,0,.5);
}
.dev-card-header img{
width: 100%;
height: 350px;
}
.card-div-body {
  padding-bottom: 10px;
}
.card-div-body p{
  padding-top: 5px;;
}
/**************section2 element end*************/
/**************section3 element end*************/
.section3{
  height: auto;
  width:100%;
  background-color: #cfcfd4;
  position: relative;
  overflow: hidden;
}
.manage h1{
  font-size: 28px;
  letter-spacing: 9px;
  margin-top: 100px;
  text-align: center;
}
.manage-part{
  box-sizing: border-box;
  padding: 50px 0 50px 0;
}
.middle p{
  color: #4b4545;
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
  padding-top: 5px;
}
.metting{
  padding: 0%!important;
  margin: 0%!important;
}
.metting img{
height: 100%;
width: 100%;


}
.read{
  padding: 10px 30px;
    background-color: #000;
    color: #fff;
    border: none;
    font-size: 16px;
    letter-spacing: 1px;
    transform: translateY(20px);
    margin-bottom: 50px;
    
}
.read:hover{
background-color: #fc842e;
color: #fff;
}
.metting::before{
  content: "";
  position: absolute;
  top:0%;
  bottom: 0%;
  left:0;
  right: 0;
  opacity: .3;
  background: #000;
}
/* .metting::before{
  content: '';
  top:0%;
  bottom: 0%;
  position: absolute;    
  width: 4px;
  background-color: red;
  left: 0;
  right: 0;
  margin-left: -1.5px;
  height: 100px;
} */

/**************section3 element end*************/
/**************section4 element end*************/
.section4{
  width: 100%;
  height: auto;
  overflow: hidden;
}
.Channel img{
height: 100px;
max-width: 160px;
overflow: hidden;
padding: 0 15px 0 15px;
}
.Channel{
  padding-right: 70px;
  padding-bottom: 60px;
  box-sizing: border-box;
}
.heading1 .cha{
   color: rgb(14, 13, 13);
   font-weight: 500!important;
   font-size: 18px;
}
.section4::after{
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  z-index: 1;
  background-color:#000;;
}
/**************section4 element end*************/
/**************section5 element start*************/
.section5{
  height: auto;
  width: 100%;
  overflow: hidden;
}
.section5 h3{
  font-size: 19px!important;
  font-weight: 700!important;
  color: #000;
}
.section5 p{
  font-size: 13px;
  color: #999;
  line-height: 20px;
  /* letter-spacing: 50px; */
  padding-top: 30px;
}
.footer-body{
  padding: 80px;
}
.section5 ul{
  list-style-type: none;
}
.footer-body2 li::before {
  content: ">";
  font-size: 15px;
  color: #999;
  padding-right: 10px;
}
.footer-body2{
  padding-top: 30px;
}
.section5 .footer-body2 a{
  color: #999;
  font-size: 14px;
  text-decoration: none;
}
.section5 .footer-body3 p{
  font-size: 14px;
  font-weight: 300;
}
.section5 .footer-body3 a{
text-decoration: none;
color: #999;
font-size: 14px;
padding-bottom: 5px;
}
.section5 .footer-body3 a:hover, .section5 .footer-body2f a:hover{
color: #fc842e;
}

.social-icon{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.social-icon li{
float: left;
}
.social-icon li a {
  display: block;
  background-color: #312f2f;
  text-align: center;
  color: #808080;
  height: 40px;
  width: 40px;
  margin: 5px;
  padding-top: 7px;
  text-decoration: none;
}
.social-icon li a:hover{
  color: #fff;
}
.bottom-footer{
  height: 60px;
  width: 100%;
  background-color: rgb(10, 10, 10);
}
/**************section4 element end*************/
/**************footer element start*************/
.footer-p{
  padding: 20px 0 0 0!important;
}
 .visibleafterscroll{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position:fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  display: none;
  transition: all .9s;
}
.visibleafterscroll li {
  float: left;
} 

.visibleafterscroll li a {
  display: block;
  background-color: #312f2f;
  text-align: center;
  opacity: .9;
  height: 45px;
  width: 45px;
  margin: 5px;
  font-weight: 800;
  padding-top: 10px;
  text-decoration: none;
 color: #fff;
  
}  
 .visibleafterscroll li a:hover{
  color:#fc842e;
}
.visibleafterscroll li a i{
  font-weight: bold!important;
}
/**************foter element end*************/